# SPDX-FileCopyrightText: Copyright (c) 2024-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT
---
name: Build

"on":
  pull_request:
    branches: ["master"]
  push:
    branches: ["master"]

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          # Temporary disabled
          # - windows-2022
          - macos-15
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
      - name: Run test
        run: go test ./...
      - name: Run gotemir
        run: go run src/cmd/gotemir.go src tests/unit

  integration-test:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run test
        run: uv run pytest tests/it/test.py

  editorconfig:
    runs-on: ubuntu-24.04
    steps:
      - name: Checking files for compliance with editorconfig
        run: |
          VERSION="v3.0.3"
          curl -O -L -C - \
          https://github.com/editorconfig-checker/editorconfig-checker/releases/download/$VERSION/ec-linux-amd64.tar.gz
          tar xzf ec-linux-amd64.tar.gz
          bin/ec-linux-amd64

  golangci:
    name: lint via golangci
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.6
      - name: golang-modernize
        run: go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest -test ./...

  tidied:
    name: check "go mod tidy" applied
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
      - name: check tidy
        run: |
          go mod tidy
          if [[ $(git status -s | wc -l ) -ne 0 ]]; then
            exit 1
          fi

  yamllint:
    name: lint yaml files
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install yamllint
        run: pip install yamllint==1.35.1
      - name: Run yamllint
        run: yamllint .

  python-lint:
    name: lint via ruff / mypy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run ruff
        run: uv run ruff check tests
      - name: Run mypy
        run: uv run mypy tests --strict
