# SPDX-FileCopyrightText: Copyright (c) 2024-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT
---
name: Release gotemir

"on":
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux, darwin, windows]
        arch: [amd64, arm64, 386]
        exclude:
          - os: windows
            arch: arm64
          - os: darwin
            arch: 386
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26

      - name: Build binary
        run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }}
          go build -o gotemir-${{ matrix.os }}-${{ matrix.arch }} src/cmd/gotemir.go

      - name: Package binary in tar
        run: |
          tar -czvf gotemir-${{ matrix.os }}-${{ matrix.arch }}.tar gotemir-${{ matrix.os }}-${{ matrix.arch }}

      - name: Upload tarball
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./gotemir-${{ matrix.os }}-${{ matrix.arch }}.tar
          asset_name: gotemir-${{ matrix.os }}-${{ matrix.arch }}.tar
          asset_content_type: application/x-tar
